<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head')%>

		<link rel="stylesheet" href="/css/products/productCatalogue.css" />
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

		<title>Document</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/" class="logo-name">
					<img src="/img/logoBlanco.png" alt="" />
				</a>
				<div class="nav-links"> 
					<ul id="navLinks">
						
						<% if(locals.logged) { %> 
							<i class="fas fa-times" onclick="hideMenu()"></i>
							<li><a href="/">HOME</a></li>
							<li><a href="/products/catalogue">CATALOGUE</a></li>
	
							<% if(locals.logged.role == "admin") { %> 
							<li><a href="/products/controlpanel">CONTROL PANEL</a></li>
							<% } %>
							
							<li><a href="/user/profile">PROFILE</a></li>
							<li><a href="/checkout/selectDate">CHECKOUT</a></li>
						
							<% } else { %>
							<i class="fas fa-times" onclick="hideMenu()"></i>
							<li><a href="/">HOME</a></li>
							<li><a href="/products/catalogue">CATALOGUE</a></li>
							<li><a href="/user/login">LOGIN</a></li>
							<li><a href="/user/register">REGISTER</a></li>
							<li><a href="/checkout/selectDate">CHECKOUT</a></li>
							<% } %>  
			
					</ul>
				</div>
				<i class="fas fa-bars" onclick="showMenu()"></i>
			</nav>
		</header>

		<main>
			<div class="mx-auto max-w-screen-xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 my-5 p-5">
				<% boats.forEach((boat) => { %>
				<a href="/products/detail/<%= boat.id %> " class="indv-cont group relative object-contain">
						<img src="/img/<%= boat.image %>"  alt="" class="object-contain"/>
						<h2 class="text-white text-3xl w-full back-gray z-10 top-0 absolute px-2 py-1 mb-8"><%= boat.name %></h2>	
						<div class="prod-info w-full mt-8">
							<p class="text-white opacity-0 group-hover:opacity-100 transition duration-200 ease-out mt-10"><%= boat.short_description %></p>
						</div>
				</a>
				<% }) %>
			</div>	
		</main>

		<%- include ('../partials/footer')%>
	</body>
</html>
