<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head')%>

		<link rel="stylesheet" href="/css/products/listingForm.css" />
	</head>
	<body>
		<header>
			<nav>
				<a href="/" class="logo-name">
					<img src="/img/logoBlanco.png" alt="" />
				</a>
				<div class="nav-links">
					<ul id="navLinks">
						<i class="fas fa-times" onclick="hideMenu()"></i>
						<li><a href="/">HOME</a></li>
						<li><a href="/products/catalogue">CATALOGUE</a></li>
						<li><a href="/products/controlpanel">CONTROL PANEL</a></li>
						<li><a href="/user/login">LOGIN</a></li>
						<li><a href="/user/register">REGISTER</a></li>
						<li><a href="/checkout/cart">CHECKOUT</a></li>
					</ul>
				</div>
				<i class="fas fa-bars" onclick="showMenu()"></i>
			</nav>
		</header>

		<main>
			<h1>Please input the following information</h1>
			<div class="formbox">
				<form action="/products/<%=boat.id%>?_method=PUT" class="create-form" method="POST" enctype="multipart/form-data">
			
					<div class="formcol">
						<h3>Vessel´s information</h3>
						<div class="form-field">
							<input
								type="text"
								name="name"
								placeholder="Name of the vessel"
								class="field"
								value = <%= boat.name %>
							/>
						</div>

						<div class="form-field">
							<input
								type="text"
								name="year"
								placeholder="Manufacture Year"
								class="field"
								value = <%= boat.year %>
							/>
						</div>

						<div class="form-field">
							<input
								type="text"
								name="measures"
								placeholder="How many feet?"
								class="field"
								value = <%= boat.measures %>
							/>
						</div>

						<div class="form-field">
							<p>Vessel</p>
							<select name="vesselType">
								<option value="">Select Vessel type</option>
								<option value="monohull">Monohull</option>
								<option value="catamaran">Catamaran</option>
								<option value="monohull">Yacht</option>
							</select>
						</div>

						<div class="form-field">
							<!--<label for="description">Description:</label>-->
							<p>Description</p>
							<textarea maxlength="200" id="description" name="description" style="width:100%;height:400px"><%= boat.description %></textarea>
							
						</div>
						<div class="form-field">
							<p>Short description</p>
							<!--<label for="shortDescription">Short description:</label>-->
							<textarea maxlength="200" id="shortDescription" name="shortDescription" style="width:100%;height:400px"><%= boat.short_description %></textarea>
							
						</div>
						<div class="form-field">
							<p>Pictures of your boat</p>
							<!--<label for="">Pictures of your boat</label>-->
							<img src= <%= boat.image %> width="300px">
						</div>
						<div class="form-field">					
							<input type="file" name="boatImg" class="field" multiple value =<%= boat.image %>/>
						</div>
						

					</div>
					<!-- <div class="formcol">
						<h3>Owner Information</h3>
						<div class="form-field">
							<input
								type="text"
								name="ownername"
								placeholder="Full Name"
								class="field"
							/>
						</div>

						<div class="form-field">
							<input
								type="text"
								name=""
								placeholder="Last Name"
								class="field"
							/>
						</div>

						<div class="form-field">
							<input
								type="text"
								name="userID"
								placeholder="ID Document Number"
								class="field"
							/>
						</div>

						<div class="form-field">
							<input
								type="email"
								name="email"
								placeholder="johndoe@example.com"
								class="field"
							/>
						</div>
					</div> -->

					<button type="submit" class="button" onclick="succesBox()">
						Send Information
					</button>
					<a href="/products/controlpanel">Cancel</a>
				</form>
			</div>
			<!-- 
			<div class="succes" id="succesBox">
				<p><span class="bigtext">Thank You!</span> <br /></p>
				<p>
					The information has been sent and we will contact you as soon as
					possible to add your boat to our page!
				</p>

				<a href="/"><button>Return to home</button></a>
			</div> -->

			</form>

        

		</main>
		<!-- footer -->
		<%- include ('../partials/footer')%>

		<!-- Javascript para menu desplegable -->
		<script>
			var navLinks = document.getElementById('navLinks');
			function showMenu() {
				navLinks.style.right = 0;
			}
			function hideMenu() {
				navLinks.style.right = '-200px';
			}

			// 	var box = document.getElementById('succesBox');
			// 	function succesBox() {
			// 		box.style.opacity = 1;
			// 	}
		</script>
	</body>
</html>
