<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head')%>

		<link rel="stylesheet" href="/css/productCatalogue.css" />
		<title>Document</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/" class="logo-name">
					<img src="/img/logoBlanco.png" alt="" />
				</a>
				<div class="nav-links">
					<ul id="navLinks">
						<i class="fas fa-times" onclick="hideMenu()"></i>
						<li><a href="/">HOME</a></li>
						<li><a href="/products/catalogue">CATALOGUE</a></li>
						<li><a href="#">ABOUT US</a></li>
						<li><a href="/user/login">LOGIN</a></li>
						<li><a href="/user/register">REGISTER</a></li>
						<li><a href="/checkout/cart">CHECKOUT</a></li>
					</ul>
				</div>
				<i class="fas fa-bars" onclick="showMenu()"></i>
			</nav>
		</header>

		<main>
			<% boats.forEach((boat) => { %>
			<a href="/products/detail/<%= boat.id %> ">
				<article class="boatContainer">
					<h2><%= boat.name %></h2>
					<div class="imgcontainer">
						
						<img src="/img/<%= boat.image %> " alt="" />
					</div>

					<p><%= boat.shortDescription %></p>
				</article>
			</a>
			<% }) %>
		</main>

		<%- include ('../partials/footer')%>
	</body>
</html>
